/* Small tablets to big tablets from 1023 to 1200 px*/
@media only screen and (max-width: 1200px) {
    .about-row {
        padding: 0 3%;
    }
    .edu img {
        position: relative;
        right: 8%;
    }
}

/* Small tablets to big tablets from 767 to 1023 px*/
@media only screen and (max-width: 1023px) {
    .about-row {
        padding: 0 3%;
    }
    .interests img {
        top: 20px;;
    }
}


/* Small phones to small tablets from 480 to 767 px*/
@media only screen and  (max-width: 767px){
    .nav {
        font-size: 12px;
    }
    .about-row {
        padding: 0 3%;
    }
    .interests img {
        width: 95%;
        position: relative;
        top: 50px;
    }
    
    .hometown h4 {
        padding-right: 20px;
    }
    .hometown img {
        width: 100%;;
        position: relative;
        top: 20%;
        
    
        
    }
    .major iframe {
        padding-right: 5%;
    }
    .edu img {
        position: relative;
        margin-top: 20%;

    }
}


/* Small phones from 0 to 480 px*/
@media only screen and  (max-width: 480px){
    .nav {
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 30px;
    }
    .footer li {
        position: relative;
        left: 8px;
    }
    .about-row {
        padding: 0 3%;
    }
    
    .major,
    .interests,
    .sports{
        height: 652.5px;
    }
    .hobbies {
        height: 761.15px;
    }
    .edu {
        height: 580px;
    }
    .hometown {
        height: 543.75px;
    }
    
    .descript-hometown {
        bottom: 70px;
    }
    .hometown img {
        width: 80%;
        margin-top: -30px;
        position: relative;
        left: 50%;
        margin-left: -40%;
    }
    .edu img {
        left: 50%;
        margin-left: -45%;
        top: -60px;
    }
    .descript-edu {
        top: -70px;
    }
    .descript-sports {
        top: -50px;
    }
    .descript-hobbies {
        top: -60px;
    }
    .hobbies iframe {
        position: relative;
        top: -20px;
    }
    .major iframe {
       position: relative;
        left: 50%;
        margin-left: -44%;
        top: 50px;
    }
    .major h2 {
        margin: 0;
    }
    .sports img {
        left: 50%;
        margin-left: -32%;
    }
    
    .hobbies iframe {
        margin-top: 10px;
    }
    .interests img {
        left:50%;
        margin-left: -47%;
        top: -30px;
    }
    .descript-interests {
        top: -40px;
    } 
    .descript-hometown,
    .descript-edu,
    .descript-major,
    .descript-sports,
    .descript-hobbies,
    .descript-interests {
        left: 10px;
    }

}