* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



html,
body{
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size:20px;
    background-color: #fff;
    overflow-x: hidden; 
}


.row {
    max-width: 100%;
    
}
section {
    padding: 80px 0;
}


div {
    position: relative;
    padding-top: 0;
}


/*HEADER/MAIN*/

header {
    background-color: #000000;
    background-size: cover;
    height:100vh;
    background-attachment: fixed;   
}

.nav-background {
    width: 100%;
    height: 80px;
    margin: 0;
}

.name-line {
    width: 200px;
    margin-left: 43.5%;
    margin-top: 10px;
    background-color:#fff;
    height: 0.5px;
    border: 0px solid transparent;
}

.main-nav1 {
   float: left;
    margin-left: 350px;
    font-family: 'Proxima Nova Alt';

}

.main-nav2 {
    float: right;
    margin-right: 350px;
    font-family: 'Proxima Nova Alt';
}


.main-nav1,
.main-nav2 {
    list-style: none;
    padding-top: 20px;
    text-align: center;
}

.main-nav1 li,
.main-nav2 li {
    display: inline-block;
    margin:0 40px;
    font-size: 80%;
    line-height: 40px;
}

.main-nav1 li a:link,
.main-nav1 li a:visited {
    text-decoration: none;
    color:#ffffff;
}
.main-nav2 li a:link,
.main-nav2 li a:visited {
    text-decoration: none;
    color:#ffffff;
}
.main-nav1 li a,
.main-nav2 li a {
    transition: color 0.2s;
}

.main-nav1 li a:hover,
.main-nav1 li a:active {
   color: #445aa2;
}
.main-nav2 li a:hover,
.main-nav2 li a:active {
    color: #445aa2;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0); 
    border-bottom: 1px solid rgba(68, 90, 162, 0.67);
}

header h1 {
    padding-top: 200px;
    font-size: 400%;
    text-align: center;
    margin: 0;
}

.main-links a {
    display:inline-block;
    margin:0 15px;
    background-color: #9cbcdb;
    padding: 10px 40px; 
}

.button-container1 {
    text-align: center;
    margin-top: 75px;
}
.main-links a:first-child {
    background-color: #0077B5;
}

.main-links a:last-child {
    background-color: rgb(137, 137, 137); 
}

.main-links a:link,
.main-links a:visited {
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
    transition: color 0.2s, background-color 0.5s, transform 0.1s;
    border: 1px solid #fff;
}


.main-links a:hover:first-child {
    color:#000000;
    background-color: rgba(255, 255, 255, 0.73);
}


.main-links a:hover:last-child {
    color:#000000;
    background-color: rgba(255, 255, 255, 0.73);
    
}
.main-links a:active:first-child,
.main-links a:active:last-child{
    transform: scale(0.9);
}
    
.arrow-icon {
    color: #fff;
    font-size: 200%;
    position: absolute;
    left: 49.3%;
    top: 530px;
    transition: color 0.2s;
}

.arrow-icon:hover {
    color: #445aa2;
}

/*ABOUT*/
}
body {
    margin: 0;
}

.about-me {
    background-color: #f2f1f1;
    height: 100vh;
}

.about-me h2 {
    color: #000;
    font-size: 300%;
    float: left;
    font-family: 'proxima nova';
    position: absolute;
    top: 1010px;
    left: 85px;
}

.about-me p {
    color: #000000;
    font-weight: 300;
    width: 420px;
    line-height: 40px;
    float: left;
    position: relative;
    top: 260px;
    left: 85px;
}
.about-line {
    background-color: #000000;
    height: 500px;
    width: 1px;
    float: left;
    position: relative;
    left: 150px;
    top: 45px;
}

.bg-1 {
    background-color:#445aa2;
    float: left;
    height: 95%;
    width: 47%;
    margin-left: 2%;
    margin-top: 10px;
}

.bg-2 {
    background-color:#445aa2;
    float: right;
    height: 95%;
    width: 47%;
    margin-right: 2%;
    margin-top: 20px;
}

.about-right {
    float:right;
    height: 660px;
    width: 800px;
    position: absolute;
    left: 600px;
    top: 875px;
}
.h3-1 {
    color: #000000;
    text-align: center;
    margin-top: 30px;
}
.h3-2{
    color: #000000;
    text-align: center;
    margin-top: 30px;   
}
h5 {
    text-align: center;
    margin-top:10px;
}
h6 {
    text-align: center;
    font-size: 60%;
    vertical-align: top;
    line-height: 20px;
    margin-top: 15px;
}


.information div {
    display: inline-block;
    background-color: #000;
    width: 200px;
    color: #fff;
    height: 240px;
    margin-left: 48px;
    box-shadow: 15px 15px 10px #dedede;
    transition: transform 0.2s;
    
    
}

.interests div {
    display: inline-block;
    background-color: #000;
    box-shadow: 15px 15px 10px #dedede;
    width: 200px;
    height: 240px;
    color: #fff;
    margin-left: 48px;
    margin-top: 10px;
    transition: transform 0.2s;
}

.interests div:hover,
.information div:hover {
    transform: scale(1.05);
}

.interests {
    margin-top: 20px;
}

.icon-about {
    margin-left: 36%;
    font-size: 400%;
    color: #445aa2;
}
.icon-special1 {
    margin-left: 33%;
    font-size: 400%;
    color: #445aa2;
}

.icon-special2 {
    margin-left: 40%;
    font-size: 400%;
    color: #445aa2;
}
.icon-special3 {
    margin-left: 33%;
    font-size: 400%;
    color: #445aa2;
}

.about-button {
    float: left;
    font-size: 120%;
    margin-top: 15px;
}

.about-button,
.about-button2{
    text-decoration: none;
    font-size: 80%;
    background-color: #445aa2;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    transition: background-color 0.2s, transform 0.1s;
    border: 1px solid #fff;
}

.about-button {
    margin-left: 75px
}

.about-button2 {
    margin-left: 50px;
    position: absolute;
    margin-top: 15px;
    
}

.about-button:hover,
.about-button2:hover {
    background-color: #000;
}

.about-button:active,
.about-button2:active {
    transform: scale(0.9);
}



/*BACKGROUND2*/
.background2 {
    background-image: url(images/Media.jpg);
    background-attachment:fixed;
    height: 25vh;
    background-size: cover;
}





/*PROJECTS*/
.projects {
    background-color: #fff;
    height: 100vh;
}


.projects h1 {
    font-size: 300%;
    color: #000;
    font-family: 'proxima nova';
    position: relative;
    left: 85px;
    top: 100px;
    
}

.projects p {
    font-size: 20px;
    color: #000;
    width: 600px;
    line-height: 40px;
    position: relative;
    left: 85px;
    top: 100px;
}


/*BACKGROUND3*/
.background3 {
    background-image: url(images/purple_sunset-wallpaper-1680x1050.jpg);
    background-attachment:fixed;
    height: 25vh;
    background-size: cover;
}


/*GALLERY*/
.gallery {
    background-color: #f2f1f1;
    height:100vh;
}
.gallery h1 {
    text-align: center;
    color: black;
    font-size: 300%;
    position: relative;
    top: 100px;
}

.gallery p {
    text-align: center;
    color: black;
    position: relative;
    top: 100px;

    
    
}
/*BACKGROUND4*/
   .background4 {
    background-image: url(images/333950.jpg);
    background-attachment:fixed;
    height: 25vh;
    background-size: cover;
}

/*CONTACT*/
.contact-me {
    background-color: #fff;
    height: 100vh;
}

.contact-me h1 {
    color: #000000;
    font-size: 300%;
    text-align: center;
    position: relative;
    margin-top: -30px;
}
.seperator {
    bottom: 25px;
}
.contact-line {
    background-color: #000;
    width: 1px;
    height: 110px;
    position: absolute;
    left: 50%;
    padding-top: 70px;
}

.contact-line:first-child {
    position: absolute;
    top: 280px;
    margin-top: 40px;
}
.contact-line:last-child {
    position: absolute;
    top: 40px;
}


.your-name input,
.your-email input,
.your-message textarea,
.submit{
    color: #000000;
}

.contact-right {
    background-color: #445aa2;
    float: right;
    height: 505px;
    width: 600px;
    position: absolute;
    top: 3735px;
    left: 54%;
    box-shadow: 15px 15px 10px #d3d3d3;
}
h9 {
    color: #000;
    position: absolute;
    left: 695px;
    top: 230px;
    float: left;
    margin-top: 18px;
    font-size: 150%;
}

.contact-right div {
    display: block;
    position: relative;
    left:25px;
    padding-top: 8px;
    
}

.contact-form {
    margin-top: 25px;
}

h8{
    margin-left: 50px;
    position: relative;
    margin-top: -50px;
    font-size: 140%;
}

textarea {
    height:130px;
    width: 500px;
    border: 1px solid #000000;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
}

input[type=text],
input[type=email]{
    width: 500px;
    height: 40px;
    border: 1px solid #000000;
    padding-left: 10px;
}


input[type=submit] {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    transition: background-color 0.2s, transform 0.1s;
    resize: none;
        
        
}
input[type=submit]:hover {
    color: #fff;
    background-color: #445aa2;
}

input[type=submit]:active {
    transform: scale(0.9);
}



.your-name label,
.your-email label,
.your-message label {
    color: #ffffff;
}

.submit {
    margin-left: 25px;
}

/*FOOTER*/
.footer {
    background-color: rgb(0, 0, 0);
    height: 300px;
}

.sec-nav1 {
    float: left;
    position: absolute;
    left: 400px;
    font-weight: 400;
    font-family: 'Proxima Nova Alt';
}

.sec-nav2 {
    float: right;
    position: absolute;
    right: 400px;
    font-weight: 400;
    font-family: 'Proxima Nova Alt';
    
}

.sec-nav1 li,
.sec-nav2 li {
    display: inline-block;
    margin: 0 30px;
    font-size: 70%;
    
    
}
.sec-nav1 li a,
.sec-nav2 li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s;
}

.sec-nav1 li a:hover,
.sec-nav1 li a:active {
    color: #445aa2;
}

.sec-nav2 li a:hover,
.sec-nav2 li a:active {
    color: #445aa2;
}


.footer p {
    text-align: center;
    font-size: 70%;
    position: relative;
    top: 80px;











   
   











