* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



html,
body{
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size:20px;
    background-color: #fff;
    overflow-x: hidden; 
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}


.nav-row {
    max-width: 500px;
    margin: 0 auto;
}

.button-row {
    max-width: 500px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}


div {
    position: relative;
    padding-top: 0;
}

h2{
    color: #000;
    font-size: 60px;
    text-align: center;
}
/*HEADER/MAIN*/

header {
    background-color: #000000;
    background-size: cover;
    height:100vh;
    background-attachment: fixed;   
}

.nav-background {
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #FED766;
}

.nav {
    text-align: center;
    font-size: 15px;
    top: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: #000;
}

header h1 {
    text-align: center;
    margin-top: 130px;
    font-size: 60px;
}

.about-links {
    text-align: center;

}

.about-links a {
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 8px 25px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
    position: relative;
    z-index: 9999;
}

.about-links a:hover {
    background-color: #000;
    color: #fff;
}

.about-arrow a {
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    transition: color 0.2s;
}

.about-arrow a:hover {
    color: #ff00ff;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0); 
    border-bottom: 1px solid rgba(68, 90, 162, 0.67);
}



/*ABOUT*/
}
body {
    margin: 0;
}

.about-me {
    background-color: #f2f1f1;
    height: 100vh;
}

.about-me h2 {
    margin-bottom: 5px;
}

.about-me p {
    color: #000;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin: 10px 30% 40px 30%;
    
}

.about-container {
    height: 190px;
    background-color: #000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bababa;
    transition: transform 0.2s;
}

.about-container:hover {
    transform: scale(1.05);
}
h4 {
    padding-top: 10px;
}

h5 {
    margin: 20px;
    font-size: 12px;
    line-height: 20px;
}


.about-container a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 13px;
}
.about-container i {
    font-size: 30px;
    position: relative;
    top: 10px;
}


/*BACKGROUND2*/
.background2 {
    background-image: url(images/Media.jpg);
    background-attachment:fixed;
    height: 25vh;
    background-size: cover;
}





/*PROJECTS*/
.projects {
    background-color: #fff;
    height: 100vh;
}

/*BACKGROUND3*/
.background3 {
    background-image: url(images/purple_sunset-wallpaper-1680x1050.jpg);
    background-attachment:fixed;
    height: 25vh;
    background-size: cover;
}


/*GALLERY*/
.gallery {
    background-color: #f2f1f1;
    height:100vh;
}

.gallery h2 {
    margin-top: 10px;
}

.gallery p {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-top: 50px;
}

.photo-container img {
    width: 285px;
    float: left;
    margin-top: 80px;
    opacity: 0.5;
    transition: opacity 0.2s;
    padding: 0 10px;
}

.gallery img:hover {
    opacity: 1;
}
/*BACKGROUND4*/
   .background4 {
    background-image: url(images/333950.jpg);
    background-attachment:fixed;
    height: 25vh;
    background-size: cover;
}

/*CONTACT*/
.contact-me1 {
    height: 100vh;
    background-color: #f2f1f1;
}
.contact-me1 h2 {
    font-size: 60px;
}
.contact-container {
    float: left;
    color: #000;
    height: 250px;
    text-align: center;
    width: 380px;
    padding: 0 30px;
}

.contact-container i {
    font-size: 60px;
    position: relative;
    top: 40px;
}

.contact-container h6 {
    font-size: 25px;
    position: relative;
    top: 40px;
}

.contact-container h7 {
    position: relative;
    top: 60px;
    font-size: 15px;
}

.contact-container a {
    text-decoration: none;
    position: relative;
    top: 100px;
    display: block;
    color: #000;
}
.social-media {
    padding: 0 30px;
    height: 200px;
    text-align: center;
}
.social-media a {
    display: ;
}
.contact-social-icons {
    color: black;
    font-size: 50px;
    background-color: #e3e3e3;
    padding: 20px 20px;
    border-radius: 50%;
    margin: 15px 15px;
    opacity: 0.5;
    transition: opacity 0.2s;
}
.contact-social-icons:hover {
    opacity: 1;
}
/*.contact-me2 {
    background-color: #fff;
    height: 100vh;
}

.contact-me2 h1 {
    color: #000000;
    font-size: 300%;
    text-align: center;
}


.your-name input,
.your-email input,
.your-message textarea,
.submit{
    color: #000000;
}

.contact-right {
    background-color: #445aa2;
    float: right;
    height: 505px;
    width: 600px;
    position: absolute;
    box-shadow: 15px 15px 10px #d3d3d3;
    border-radius: 10px;
    
}
h9 {
    color: #000;
    position: absolute;
    left: 695px;
    top: 230px;
    float: left;
    margin-top: 18px;
    font-size: 150%;
}

.contact-right div {
    display: block;
    position: relative;
    left:25px;
    padding-top: 8px;
    
}

.contact-form {
    margin-top: 25px;
}

h8{
    margin-left: 50px;
    position: relative;
    margin-top: -50px;
    font-size: 140%;
}

textarea {
    height:130px;
    width: 500px;
    border: 1px solid #000000;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
}

input[type=text],
input[type=email]{
    width: 500px;
    height: 40px;
    border: 1px solid #000000;
    padding-left: 10px;
}


input[type=submit] {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    transition: background-color 0.2s, transform 0.1s;
    resize: none;
        
        
}
input[type=submit]:hover {
    color: #fff;
    background-color: #445aa2;
}

input[type=submit]:active {
    transform: scale(0.9);
}



.your-name label,
.your-email label,
.your-message label {
    color: #ffffff;
}

.submit {
    margin-left: 25px;
}*/

/*FOOTER*/
.footer {
    background-color: rgb(0, 0, 0);
    height: 300px;
}


.footer-nav a {
    text-decoration: none;
    color: #fff;
    
}
.footer-nav {
    text-align: center;
    list-style: none;
    font-size: 12px;
}

.footer p {
    color: #fff;
    margin-top: 100px;
    text-align: center;
    font-size: 12px;
    
}










   
   











